@use "variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: $font-size-md;
  color: $color-primary;
  background-color: $color-background;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}
